#header {
  font-family: 'Metrophobic', sans-serif;
  background-color: #455A64;
  color: #fff;
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 1px;
}
.main {
  font-family: 'Metrophobic', sans-serif;
  color: #212121;
}
#footer {
  font-family: 'Metrophobic', sans-serif;
  background-color: #B6B6B6;
  color: #FFFFFF;
}
.links {
  background-color: none;
  border-style: solid;
  padding: 5px 10px 5px;
  margin: 10px;
  width: 250px;
  text-align: center;
}
a:visited {
  color: #607d8b;
}
a:hover {
  color: #b6b6b6;
}
